<mat-toolbar class="mat-primary">
    <h3 [style.color]="'white'"> Ariel Robles </h3>
    <span>
        <a routerLink="/" routerLinkActive="active" mat-button>HOME</a>
        <a routerLink="/about" routerLinkActive="active" mat-button>ABOUT</a>
        <a routerLink="/portfolio" routerLinkActive="active" mat-button>PORTFOLIO</a>
        <a routerLink="/experience" routerLinkActive="active" mat-button>EXPERIENCE</a>
        <a routerLink="/contact" routerLinkActive="active" mat-button>CONTACT</a>
    </span>
</mat-toolbar>