<mat-toolbar class="mat-primary mat-elevation-z6">
    <h3 [style.color]="'white'"> {{'NAME' | translate}}</h3>
    <div class="container">
        <span>
            <a routerLink="/" routerLinkActive="active" mat-button>{{'SECTIONS.HOME' | translate}}</a>
            <a routerLink="/about" routerLinkActive="active" mat-button>{{'SECTIONS.ABOUT' | translate}}</a>
            <a routerLink="/portfolio" routerLinkActive="active" mat-button>{{'SECTIONS.PORTFOLIO' | translate}}</a>
            <a routerLink="/experience" routerLinkActive="active" mat-button>{{'SECTIONS.EXPERIENCE' | translate}}</a>
            <a routerLink="/contact" routerLinkActive="active" mat-button>{{'SECTIONS.CONTACT' | translate}}</a>
        </span>
    </div>
</mat-toolbar>